<div class="bingo-night-details">
  <h1>Ladies Night Out Basket Bingo Fundraiser</h1>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>

  <h2>Details</h2>
  <div class="row">
    <div class="col-md-4 col-md">
      <div class="when">
        <span><b>WHEN</b></span>
        <span>TBD</span>
      </div>
      <div class="where">
        <span><b>WHERE</b></span>
        <span>The Commons</span>
        <span>Hunterdon Central Regional High School</span>
        <span>84 NJ-31, Flemington, NJ</span>
      </div>
    </div>
    <div class="col-md-8 col-md">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <h2>Registration</h2>
  <div class="row">
    <div class="col-md-12">
      <span class="d-block">Registration is not currently open.  Please check back in August 2019 for registration information!</span>
    </div>
  </div>
</div>

