
<div class="container container-body">
  <bingo-night-nav></bingo-night-nav>
	<div class="content">
		<div class="row">
      <div class="col-md-12 event-details">
				<p><b>6th Annual Ladies Night Out Basket Bingo Fundraiser</b></p>
				<p>to benefit the Kevin Gilbert Scholarship Fund</p>
			</div>
		</div>
		<div class="row location-details">
			<div class="col-md-5">
				<p>
					<b>WHEN</b><br>
					TBD, tentatively October 2018 <br>
				</p>
				<p>
					<b>WHERE</b><br>
					The Commons<br>
          Hunterdon Central Regional High School<br>
          84 NJ-31, Flemington, NJ<br>
        </p>
			</div>
			<div class="col-md-7">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
				<br>
				<br>
				<br>
			</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <p>Previous prizes have included Vera Bradley, NY Giants tickets, restaurant gift cards, golf packages, spas &amp; more!!</p>
        <br>
      </div>
    </div>
		<div class="row">
			<div class="col-md-12">
				<p><b>REGISTRATION</b></p><br>
				<p>Registration is not currently open.  Please check back in August 2018 for registration information!</p><br>
			</div>
		</div>
	</div>
</div>