.bingo-night-details {
  min-height: 75vh;

  .event-details {
    text-align: center;
  }

  span {
    display: block;
  }

  .row {
    margin-bottom: 30px;
  }

  .when, .where {
    margin-bottom: 10px;
  }
}

agm-map {
  height: 350px;
  width: 100%;
}


