<div class="wiffle-ball-team-pay">
  <h3>Congratulations! You're registered!</h3>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>

  <div *ngIf="resolvedTeam.paid" class="payment-paid">
    <h4 class="text-center">You've already paid. No need to pay again!</h4>
    <p>
      You will recieve more specific schedule information in the coming weks.
      If you have any questions in the meantime, feel free to reach out to Claire at ktgwiff@gmail.com.
    </p>
    <p>
      Please follow us on <a href="https://www.facebook.com/ktgwiff/">Facebook</a> for more information and share with your friends!
    </p>
  </div>

  <div *ngIf="!resolvedTeam.paid" class="payment-methods">
    <div class="check-total">
      <h4>Your total:</h4>
      <p>Amount due at event or by check: </p>
      <span class="text-muted d-block">Team Fee: $100.00</span>
      <span class="text-muted d-block">Additional Members ($25) x {{additionalMembers}}: ${{25 * additionalMembers}} +</span>
      <hr>
      <span class="text-muted d-block">Total: ${{baseFee}}.00</span>
    </div>

    <h4>Please pay by one of three options below:</h4>
    <div class="card-deck">
      <div class="card mb-3">
        <div class="card-header">1 - Pay at event&nbsp;&nbsp;🎉</div>
        <div class="card-body">
          <p class="card-text">Pay at the event! Show up the day of the event and pay there.</p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">2 - Send a check&nbsp;&nbsp;💵</div>
        <div class="card-body">
          <p class="card-text">Send a check written out to 'Kevin Gilbert Scholarship Fund' with your team name in the Memo to:</p>
          <p class="card-text">Karen Gilbert</p>
          <p class="card-text">22 Militia Road, Whitehouse Station, NJ 08889</p>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">3 - Pay Online&nbsp;&nbsp;🖥️</div>
      <div class="card-body">
        <p class="card-text">
          Pay online via Paypal (You can use your debit/credit card). Paypal charges
          a 2.9% transaction fee as well as an additional $0.30.
        </p>
        <span class="text-muted d-block">Team Fee: $125.00</span>
        <span class="text-muted d-block">Additional Members ($25) x {{additionalMembers}}: ${{25 * additionalMembers}}</span>
        <span class="text-muted d-block">Transaction Fee: ${{transactionFee.toFixed(2)}} +</span>
        <hr>
        <span class="text-muted d-block mb-5">Total: ${{finalFee}}</span>
        <div class="paypal-button">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
      </div>
    </div>
  </div>
</div>

