<div class="container container-body">
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <h3>Congratulations! You're registered!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>Your team has been registered!</p>
        <p>Please pay by one of the three options below:</p>
        <br>
      </div>
    </div>
    <div [hidden]="!paid">
      <p> No need to pay again. You're all set!</p>
    </div>
    <div [hidden]="paid">


      <div class="row">
        <div class="col-md-5">
          <p><b>1.</b> Send a check written out to 'Kevin Gilbert Scholarship Fund' with your team name in the Memo to:<br></p>
          <div class="address-paragraph">
            <p><b>
              Claire Siegrist<br>
              241 Montgomery St., Jersey City, NJ 07302<br>
            </b></p>
            <br>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <p><b>2.</b> Pay at the event! Show up the day of the event and pay there.<br></p>
          <br>


        </div>
      </div>

      <div class="totals">
        <div class="row">
          <p>Amount due at event or by check:</p>
          <br>
          <div class="col-md-5 col-xs-7">
            <span>Team Fee</span><br>
            <span>Additional Member ($25) x</span><span id="members">{{ memberCount }}</span><br>
          </div>
          <div class="col-md-5 col-xs-5">
            <span>$100</span><br>
            <span id="memberTotal">${{ memberTotal }}</span><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-xs-7">
            <span>Total</span><br>
          </div>
          <div class="col-md-5 col-xs-5">
            <span id="total">${{ checkTotal }}</span><br><br>
          </div>
        </div>
      </div>

      <div class="row">
        <hr>
        <div class="col-md-6">
          <p><b>3.</b> Pay with PayPal</p>
          <div class="paypal">
            <div id="paypal-button-container"></div>
            <div id="confirm" class="hidden">
              <div>Ship to:</div>
              <div><span id="recipient"></span>, <span id="line1"></span>, <span id="city"></span></div>
              <div><span id="state"></span>, <span id="zip"></span>, <span id="country"></span></div>
              <button id="confirmButton">Complete Payment</button>
            </div>
            <div id="thanks" class="hidden">
              Thanks, <span id="thanksname"></span>!
            </div>
          </div>
        </div>
      </div>

      <div class="totals">
        <div class="row">
          <p>Amount due by PayPal (added transaction fee):</p>
          <div class="col-md-5 col-xs-7">
            <span>Team Fee</span><br>
            <span>Additional Member ($25) x</span><span >{{ memberCount }}</span><br>
            <span>Transaction Fee</span>
          </div>
          <div class="col-md-5 col-xs-5">
            <span>$100</span><br>
            <span >${{ memberTotal }}</span><br>
            <span>${{ transactionFee }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-xs-7">
            <span>Total</span><br>
          </div>
          <div class="col-md-5 col-xs-5">
            <span >${{ paypalTotal }}</span><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="paypal">
              <paypal-button [props]="paypalConfig"></paypal-button>
              <div id="confirm" class="hidden">
                <div>Ship to:</div>
                <div><span id="recipient"></span>, <span id="line1"></span>, <span id="city"></span></div>
                <div><span id="state"></span>, <span id="zip"></span>, <span id="country"></span></div>
                <button id="confirmButton">Donate!</button>
              </div>
              <div id="thanks" class="hidden">
                Thanks, <span id="thanksname"></span>!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

