.wiffle-ball-details {
  min-height: 75vh;

  .event-details {
    text-align: center;
  }

  span {
    display: block;
  }


  .row {
    margin-bottom: 30px;
  }

  .when, .where, .info {
    margin-bottom: 10px;
  }
}

agm-map {
  height: 350px;
  width: 100%;
}

app-wiffle-ball-event-details-subscribe-dialog {
    position: absolute;
    top:0;
    left:0;
}
