.wiffle-ball-details {
  min-height: 75vh;

  .event-details {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
  span {
    display: block;
  }
  .header-divider {
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 12px;
    fa-icon {
      color: lightskyblue;
      margin: 0 5px;
    }
  }

  .row {
    margin-bottom: 30px;
  }

  .when, .where, .info {
    margin-bottom: 10px;
  }
}

agm-map {
  height: 350px;
  width: 100%;
}

app-wiffle-ball-event-details-subscribe-dialog {
    position: absolute;
    top:0;
    left:0;
}
