<div class="wiffle-ball-details">
  <h1>Event Details</h1>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>

  <div class="row">
    <div class="col-md-12 event-details">
      <p><b>Join us in memory of Kevin Gilbert:</b></p>
      <h4><b>4th Annual Kevin Gilbert Wiffle Ball Tournament</b></h4>
      <span><b>to benefit the Kevin Gilbert Scholarship Fund</b></span>
    </div>
  </div>
  <h2>Details</h2>
  <div class="row">
    <div class="col-md-4 col-md">
      <div class="when">
        <span><b>WHEN</b></span>
        <span>Saturday, August 8th</span>
        <span>9:00 AM - 5:00 PM</span>
      </div>
      <div class="where">
        <span><b>WHERE</b></span>
        <span>Pickell Park</span>
        <span>515 Main St</span>
        <span>Whitehouse Station, NJ</span>
      </div>
      <div class="info">
        <span><b>INFO</b></span>
        <span>Read the tournament rules and regulations <a routerLink="/fundraiser/wiffle-ball/rules">here</a>.</span>
      </div>
    </div>
    <div class="col-md-8 col-md">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <h2>Registration</h2>
  <div class="row">
    <div class="col-md-12">
      <span class="d-block">Registration for the 2020 Kevin Gilbert Wiffle Ball Tournament is now open. Register your team <a routerLink="/fundraiser/wiffle-ball/register">here</a>.</span>
      <span>Registration is $100 per team. Registration includes a free t-shirt and a two-game guarantee.</span>
    </div>
  </div>
  <h2>Venue Information</h2>
  <div class="row">
    <div class="col-md-12">
      <span>Alcohol is permitted at the pavilion only. BYOB.</span>
      <span>There are a limited number of grills available located in the pavilion area for use on first come first serve basis. Please bring your own cooking supplies and ingredients, as they will not be provided.</span>
    </div>
  </div>
  <h2>Purpose</h2>
  <div class="row">
    <div class="col-md-12">
      <span>
        This tournament was inspired by Kev and his love for all things baseball.
        Wiffle ball was a common past time activity in the backyard of the Gilbert home,
        so we decided to bring those great memories back in the form of a fundraiser.
        All proceeds from this tournament will go to the Kevin Gilbert Scholarship Foundation.
        Click <a routerLink="/about">here</a> to read more about Kevin and the Scholarship Fund.
      </span>
    </div>
  </div>
</div>
