.about {
  min-height: 75vh;
  h3 {
    text-align: center;
  }

  .header-divider {
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 12px;
    fa-icon {
      color: lightskyblue;
      margin: 0 5px;
    }
  }


  img {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
  }

  p {
    font-size: 18px;
  }

  .about-scholarship {
    margin-top: 50px;
  }


}
