<div class="about">
  <h3>About</h3>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>
    <!--<p>-->
      <!---->
      <!--On March 12, 2011, Kevin Thomas Gilbert passed away from severe brain trauma.-->
      <!--Kevin was on his way to an early morning baseball practice when his car veered off the road.-->
      <!--Kev was a senior at Hunterdon Central High School, an honor roll student and athlete.-->
      <!--His biggest passion was the game of baseball, and dreamed of becoming an MLB player.-->
      <!--Kevin had planned to attend Temple University on an academic and athletic scholarship.-->
      <!--His unselfish passion for life, and others, was shown on and off the field numerous times.-->
      <!--The stories of his kindness are inspirational. He was, and will forever be, Our Angel in the Outfield.-->
  <!--</p>-->
  <div class="about-kevin">
    <h4>About Kevin</h4>
    <div class="row">
      <div class="col">
        <p>
          On March 12, 2011, Kevin Thomas Gilbert passed away, when his car veered
          off the road while he was on his way to an early morning baseball practice.
          Kevin passed away from severe brain trauma.
        </p>
        <p>
          Kev was a senior at Hunterdon Central Regional High School (HCRHS), an
          honor roll student and athlete. He was incredibly passionate about baseball.
          He had been a starter for the HCRHS varsity baseball team since his
          sophomore year and had a dream of becoming a Major League Baseball
          player. Kevin had planned to attend Temple University on an academic and
          athletic scholarship.
        </p>
      </div>
      <div class="col-lg-auto col-md-auto col-sm-12 mb-sm-3 mb-3">
        <img class="img-rounded" src="../../assets/img/kevin.jpg" width=300 height=285/>
      </div>
    </div>


    <p>
      Kevin constantly displayed an unselfish passion for life and a kindness
      towards others, both on and off the field, and was an inspiration to many. The
      stories of his kindness are inspirational.
    </p>
    <p>
      As an organ donor, Kevin continued to help people even after the loss of his
      life, saving five individuals with successful transplants, and changing
      countless of other lives through bone and tissue donation.
    </p>
    <p>He was, and will forever be, Our Angel in the Outfield.</p>
  </div>

  <div class="about-scholarship">
    <h4>About the Scholarship Fund</h4>
    <p>
      The Kevin Gilbert Scholarship Fund is a non-profit organization whose goal is
      to help college-bound students continue to make a difference, to live their life
      with unselfish passion, and to achieve their dreams. The Kevin Gilbert
      Scholarship Fund sponsors an annual scholarship that is available to any
      graduating Hunterdon Central Regional High School (HCRHS) senior who has
      a passion and a dream, and has had a positive effect on others through
      kindness and respect.
    </p>

  </div>




</div>

