<div class="about">
  <h3>About Kevin</h3>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>
  <div class="row">
    <p>
      <img class="img-rounded" src="../../assets/img/kevin.jpg" width=300 height=285/>
      On March 12, 2011, Kevin Thomas Gilbert passed away from severe brain trauma.
      Kevin was on his way to an early morning baseball practice when his car veered off the road.
      Kev was a senior at Hunterdon Central High School, an honor roll student and athlete.
      His biggest passion was the game of baseball, and dreamed of becoming an MLB player.
      Kevin had planned to attend Temple University on an academic and athletic scholarship.
      His unselfish passion for life, and others, was shown on and off the field numerous times.
      The stories of his kindness are inspirational. He was, and will forever be, Our Angel in the Outfield.
    </p>
  </div>


  <h3>About the Scholarship Fund</h3>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>
  <p>
    The Kevin Gilbert Scholarship Fund sponsors an annual scholarship that is available to any
    graduating Hunterdon Central Regional High School senior. It is not limited to athletes,
    but for anyone that has a passion, and a dream, and has a positive effect on others,
    through kindness and respect.
  </p>
</div>

