.nav.navbar-nav li a {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}


.nav.navbar-nav ul {
    margin-left: 15px;
    margin-right: 15px;
}

ul.nav a:hover { color: #fff}

.navbar {
	border: none;
    margin-bottom: 0;
    padding: 0px;
}

.navbar-left {
	text-align: left;
}

.navbar-right {
	text-align: left;
	margin-right: 0px;
}

.navbar-collapse {
	border-width: 0px;

}

.navbar-toggle {
	float: left;
	margin-left: 20px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #000;
    color:#fff;
  }

  .navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
}

nav {
	  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;

}

.navbar >.container .logo,
.navbar >.container-fluid .logo {
    margin-left: -175px;
    margin-top: -265px;

}

@media only screen and (max-width: 700px) {
    .navbar>.container .logo,
		.navbar>.container-fluid .logo {
	    margin-left: -140px;
	    margin-top: -340px;
	    width: 280px;
	    height: 280px;
	}

	.container-body {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
	}

	.footer-body {
	padding-left: 15px;
	padding-right: 15px;


	padding-top: 5px;
	background-color: black;
}


	.container-body p {
	font-size: 18px;
	font-weight: 500;
	}

	.content {
		padding-top: 10px;
	}

	.footer-text {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 15px;
}
}

@media screen and (min-width: 400px) {

  .navbar-collapse .ml-auto {
    display: inherit;
    visibility: visible;
  }


}

