<div class="navbar-header">
  <img *ngIf="mobile" src="../../assets/img/KG_WiffleBall_Logo_FINAL-01.png"/>
</div>
<nav class="navbar navbar-expand-lg navbar-dark navbar-black">
  <button class="navbar-toggler"
          type="button"
          (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{show: !collapsed}">
    <ul class="navbar-nav navbar-nav-left">
      <li class="nav-item" (click)="collapsed = true">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" >About Kevin</a>
      </li>
      <li class="nav-item" (click)="collapsed = true">
        <a class="nav-link"  routerLink="/donate" routerLinkActive="active" (click)="collapsed = true">Donate Here</a>
      </li>
    </ul>
    <img *ngIf="!mobile" src="../../assets/img/KG_WiffleBall_Logo_FINAL-01.png"/>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle" id="navbarWiffleBallDropdown"
          (click)="routeToWiffleBall()" [ngClass]="{ active: wiffleBallLinkActive === true }"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Wiffle Ball
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="fundraiser/wiffle-ball/details" routerLinkActive="active"
             (click)="collapsed = true">Event Details</a>
          <a class="dropdown-item" routerLink="fundraiser/wiffle-ball/rules" routerLinkActive="active"
             (click)="collapsed = true">Rules</a>
          <a class="dropdown-item" routerLink="fundraiser/wiffle-ball/register" routerLinkActive="active"
             (click)="collapsed = true">Register</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="fundraiser/wiffle-ball/2017" routerLinkActive="active"
             (click)="collapsed = true">2017 Tournament</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle" id="navbarBingoNightDropdown"
          (click)="routeToBingoNight()" [ngClass]="{ active: bingoNightLinkActive === true }"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bingo Night
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="fundraiser/bingo-night/details" routerLinkActive="active">Event Details</a>
          <a class="dropdown-item" routerLink="fundraiser/bingo-night/register" routerLinkActive="active">Register</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
