<div class="tournament-2017">
  <h3>1st Annual Wiffle Ball Tournament (2017)</h3>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>
  <p>
    Twelve teams and numerous volunteers and spectators came together on Sunday, August 27th at Pickell Park in Whitehouse Station
    in loving memory of Kev. A big thank you to all who came out to play/volunteer/watch!
  <p>
  <img src="../../assets/img/pics/GROUP_SHOT.JPG" width=300 height=285/>
  <p>
    The competitive league championship game was one for the history books! Godzilla Farmers and Big Boppers battled for over
    an hour and a half for bragging rights to the first ever winner of the tournament. The Godzilla Farmers came out on top in
    a nail-biting 2-1 finish.
  </p>
  <div class="img-wrapper">
    <img src="../../assets/img/pics/Godzilla_Farmers_and_Big_Boppers.JPG" width=300 height=285/>
    <small class="text-muted">Top two teams in the finals- the Godzilla Farmers (black) and the Big Boppers (blue).</small>
    <small class="d-block text-muted">
      From left to right: TJ Mordeci, Justin Cvetkovski, Ryan Del Hoyo, Chad Hunt, Bryan Noonan, Jake Maffucci, Richie Masini, and Chris Suseck
    </small>
  </div>
  <p>
    Friendly league champions, the Mastodons, beat the Goofballs 13-1 in the finals.
  </p>
  <div class="img-wrapper">
    <img src="../../assets/img/pics/Mastodons-_champs.jpg" width=300 height=285/>
    <small class="text-muted">Mastodons! From left to right: Matt Prall, Nick Andreychak, Chris Smith, Scott Niedhammer and Bill Pier</small>
  </div>
  <p>In addition to the tournament, friends and family of Kevin competed in the Home Run Derby. TJ Mordeci won the derby with 5 homeruns! </p>
  <p>Big thanks to Darrow’s Sporting Goods and Quick Check of Branchburg for their generous donations!</p>

  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
