<div class="container container-body">
  <wiffle-ball-nav></wiffle-ball-nav>
  <div class="content">
    <div class="registration-header">
      <div class="row">
        <div class="col-md-12">


        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="sel1">
        Choose a league! <br>
        <span class="sub-label">Do you want to play <a href="/fundraiser/wiffle-ball/rules">friendly</a> (play for fun) OR <a href="/fundraiser/wiffle-ball/rules">competitive</a> (play to win)?</span>
      </label>
      <select [(ngModel)]="formType" class="form-control" id="sel1">
        <option></option>
        <option>Competitive</option>
        <option>Friendly</option>
      </select>
    </div>
    <app-wiffle-ball-register-form [type]="formType"></app-wiffle-ball-register-form>
  </div>
</div>
