<div class="tournament-2018">
  <h3>2nd Annual Wiffle Ball Tournament (2018)</h3>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>
  <p>
    The second annual Kevin Gilbert Wiffle Ball Tournament was held in a downpour on Saturday,
    August 11th, 2018.  Despite the bad weather, all 40 registered players and numerous volunteers
    and spectators came together to remember Kev.
  </p>
  <p>
    All nine teams that competed in the tournament played three round robin games to determine their
    league standing.  Unfortunately, the rain cut the tournament short and finals were not able to be
    held.  All teams who made the finals admitted defeat to Throw an F’in Strike, who was undefeated in round robin play.
  </p>
  <div class="img-wrapper">
    <img *ngIf="imagesLoaded" alt="2018 Champions: Throw an F'in Strike" src="{{images[0]}}" width=300 height=285/>
    <small class="text-muted">
      2018 Champions: Throw an F’in Strike
    </small>
  </div>
  <p>
    All proceeds from the tournament were donated to the Kevin Gilbert Scholarship Fund,
    which awards scholarships to graduating seniors at HCRHS who possess a passion to live
    their dreams.
  </p>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
