footer {
  padding: 0 30px 3rem 30px;
  margin-bottom: 0 !important;
  background-color: black;
  color: white;
  border-top: 4px solid lightskyblue !important;
  margin-top: 48px !important;

  fa-icon {
    font-size: 32px;
  }

}
