.donate {
  min-height: 75vh;

  h3 {
    text-align: center;
  }
  .header-divider {
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 12px;
    fa-icon {
      color: lightskyblue;
      margin: 0 5px;
    }
  }

  .paypal-button {
    margin: 30px auto 0 auto;
    text-align: center;
  }

  .check-payment {
    margin-top: 20px;
  }
}


