<div class="donate">
  <h3>Donate</h3>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Donate to support the Kevin Gilbert
        Scholarship Fund's goal to give high school students the means to live their dream.
      </p>

      <div class="paypal-payment">
        <form id="paypalForm">
          <h4>Paypal</h4>
          <label for="paypalAmount">Donation Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input [(ngModel)]="donationAmount" type="number" class="form-control" id="paypalAmount" aria-label="Amount (to the nearest dollar)" placeholder="e.g. $25">
          </div>
          <small id="paypalHelp" class="form-text text-muted">Enter in the amount you wish to donate!</small>
        </form>
        <div class="paypal-button">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
      </div>
      <div class="check-payment">
        <h4>Check</h4>
        <p>Send a check written out to 'Kevin Gilbert Scholarship Fund' to:</p>
        <span class="d-block text-muted">Karen Gilbert</span>
        <span class="d-block text-muted">22 Militia Road, Whitehouse Station, NJ 08889</span>
      </div>
    </div>
  </div>
</div>
