/* You can add global styles to this file, and also import other style files */
$primary: lightskyblue;
$btn-primary-color: white;

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";


@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

h1 {
  text-align: center;
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

.header-divider {
  text-align: center;
  margin: 15px 0 15px 0;
  font-size: 12px;
  fa-icon {
    color: lightskyblue;
    margin: 0 5px;
  }
}
