<div class="rules">
  <h1>Rules and Regulations</h1>
  <div class="header-divider">
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
    <fa-icon [icon]="'certificate'"></fa-icon>
  </div>

  <div class="row">
    <div class="col-md-12 ">
      <h2>General Rules</h2>
      <ul>
        <li>The tournament will be held RAIN OR SHINE.</li>
        <li>
          Bats, balls and strike-zone chairs will be provided by the KG Scholarship
          Tournament Committee.
        </li>
        <li>All players must have a tournament shirt on to play.</li>
        <li>All players must play bare handed.</li>
        <li>
          There will be an umpire at every game in the field.
          <ul>
            <li>Umpires are in charge of keeping track of balls and strikes, calling fair and foul balls, safe and out calls, batter interferences and homeruns.</li>
            <li>
              <b class="emphasized">
                Throwing a bat, yelling at or arguing with an umpire, using profanity and fighting with a player from another team will not be tolerated. 
              </b>
              It could result in ejection from or forfeit of the game at the discretion of the umpire.
            </li>
          </ul>
        </li>
        <li>Taunting is allowed, but physical contact and profanity will not be tolerated.</li>
        <li>
          Pegging is allowed FOR COMPETITIVE PLAY ONLY. 
          (Note: pegging is when you throw the wiffle ball at a runner, and the runner that is hit is out and cannot advance.)
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Competitive League</h3>
      <ul>
        <li>Play-to-win</li>
        <li>All players must be 16 years of age or older.</li>
        <li>4 players in the field at once (3 position players and a pitcher)</li>
        <li>6 innings, 2 outs/inning</li>
        <li>
          Extra innings rules for round robin play (&lt;45 miutes of play)
          <ul>
            <li>7th inning – no rule changes</li>
            <li>8th inning – start with a runner on 2nd base</li>
            <li>9th inning and all following – start with a runner on 3rd base</li>
          </ul>
        </li>
        <li>
          Pegging is allowed.
        </li>
      </ul>
    </div>
    <div class="col-md-6 ">
      <h3>Friendly League</h3>
      <ul>
        <li>Play-for-fun</li>
        <li>5 players in the field at once (4 position players and a catcher)</li>
        <li>5 innings, 3 outs/inning</li>
        <li>THere are no rule changes for extra innings.</li>
        <li>After 6 pitched balls, the pitcher must pitch underhand. (There are no walks.)</li>
        <li>Pegging is NOT allowed.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Time Limits & Extra Time</h3>
      <ul>
        <li>
          The time limit for all games in round robin play is 45 minutes. 
          If the game is still tied at the end of 45 minutes during round robin play, each team will be awarded with one point as per the Point System (see below). 
        </li>
        <li>
          Extra time rules for playoffs for the <span class="emphasized">competitive league</span>:
          <ul>
            <li>After 45 minutes of play, start with one runner on 1st at the top of the inning for two innings.</li>
            <li>After 2 innings with runner on 1st, start with runner on 2nd at the top of the inning for two innings.</li>
            <li>After 2 innings with runner on 2nd, start with runner on 3rd at the top of the inning for the remainder of the game.</li>
            <li>NO extra time/inning rules will be implemented for the final game.</li>
          </ul>
        </li>
        <li>
          Extra time rules for playoffs for the <span class="emphasized">friendly league</span>:
          <ul>
            <li>After 45 minutes of play, start with one runner on 2nd at the top of the inning for one inning.</li>
            <li>After one innings with runner on 2nd, start with runner on 3rd for the remainder of the game.</li>
            <li>NO extra time/inning rules will be implemented for the final game.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Point System</h3>
      <ul>
        <li>A team will be awarded 3 points if they win in regulation time.</li>
        <li>A team will be awarded 2 points if they win in extra innings.</li>
        <li>A team will be awarded 1 point if they tie in regulation time but lose in extra innings</li>
        <li>
          The teams with the most points will make the playoffs.  Tie breakers will be as follows:
          <ul>
            <li>1st tie breaker = number of wins</li>
            <li>2nd tie breaker = run differential</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Game Rules</h2>
      <ul>
        <li>The time limit for all games in round robin play is one hour.</li>
        <li>No fast pitch. We want the games to be competitive, so pitching speed should be slow enough for people to hit, but not so slow that teams are pitching underhand. Curve balls, sidearm throwing and slides are allowed.</li>
        <li>Each team has unlimited fielding substitutions, but fielding changes can only be made before the inning. Once a team is out in the field, they are set until the next inning.</li>
        <li>One pitching substitution can be made per inning, but the player being subbed in must already be in the field.</li>
        <li>Once the batting order of a team is set, it cannot be changed.  If your team bats out of order, it is considered an out.</li>
        <li>Bunting is not allowed. The first time you attempt a bunt, you will get a warning.  From then on, every time your team attempts to bunt, it will be considered an out.</li>
        <li>Players will bat until they strike out or put the ball into play.</li>
        <li>Base runners must remain on base until the ball is hit. Stealing bases is not allowed.</li>
        <li>Any ball that lands beyond the outfield wall/cones that is fair on the fly is considered a homerun. Robbing homeruns is allowed as long as the fielder has one foot in play or if the fielder is able to leap from the field and catch the ball in the air before landing.</li>
        <li>The pitcher’s mound acts as the default base.  If either a fielder or a pitcher has the ball on the mound before a runner has reached a base, the runner is out. If there are multiple runners off base, only the lead runner is out.</li>
        <li>All runners on a base are safe, unless there are two people on a base. If this is the case, the lead runner is out and the second runner is safe.</li>
        <li>
          POINT SYSTEM
          <ul>
            <li>A team will be awarded 3 points if they win in regulation time</li>
            <li>A team will be awarded 2 points if they win in extra innings</li>
            <li>A team will be awarded 1 point if they tie in regulation time but lose in extra innings</li>
            <li>
              The teams with the most points will make the playoffs.  Tie breakers will be as follows:
              <ul>
                <li>1st tie breaker = number of wins</li>
                <li>2nd tie breaker = runs against</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Pitching</h3>
      <ul>
        <li>No fast pitch. We want the games to be competitive, so pitching speed should be slow enough for players to hit, but not so slow that teams are pitching underhand.</li>
        <li>Curve balls, sidearm throwing and slides are allowed.</li>
        <li>The pitcher’s back foot must be at the back of the pitching circle when beginning a pitch, and both feet must remain inside the pitching circle throughout the pitch.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Substitutions</h3>
      <ul>
        <li>Each team has unlimited substitutions, but changes can only be made before the inning. Once a team is out in the field / at bat, they are set until the next inning.</li>
        <li>One pitching substitution can be made per inning, but the player being subbed in must already be in the field.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Batting & Base Running</h3>
      <ul>
        <li>
          If a team substitutes a batter, that batter must play the field. The batter that is substituted is now out of the line-up for that inning.
        </li>
        <li>
          If your team bats out of order, it is considered an out.
        </li>
        <li>
          Bunting is not allowed. The first time you attempt a bunt, you will get a warning. From then on, every time your team attempts to bunt, it will be considered an out.
        </li>
        <li>
          Players will bat until they strike out or put the ball into play.
        </li>
        <li>
          Base runners must remain on base until the ball is hit. Stealing bases is not allowed.
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ">
      <h3>Strikes, Balls, Fouls &amp; Outs</h3>
      <ul>
        <li>The Kevin Gilbert Wiffle Ball Tournament Committee will provide a chair to be used as the strike zone. Each field will have the same size and color chair. The back rise of the chair is the strike zone.</li>
        <ul>
          <li>Any pitch that hits any part of the back rise of the chair is a strike.</li>
          <li>If the pitch does not come in contact directly with the back rise of the chair, it is a ball.</li>
          <li>The pitch cannot bounce off of any other part of the chair and then hit back rise; that will be considered a ball.</li>
          <li>The legs of the chair are not in the strike zone; any ball that hits the chair legs will be considered a ball.</li>
        </ul>
        <li>3 strikes is an out.</li>
        <li>
          There will be no walks.
          <ul>
            <li>For the friendly league only, the pitcher must pitch underhand after 6 pitched balls.</li>
          </ul>
        </li>
        <li>Fouls are strikes unless a batter has two strikes.  When a batter has two strikes and the batter hits a foul tip that hits the strike zone, that batter will be out.</li>
        <li>A hit-by-pitch is considered a ball (no base is awarded). If a player intentionally leans into a pitch, it will be called a strike.</li>
        <li>
          Any ball that lands beyond the outfield fence that is fair on the fly is considered a homerun. 
          Robbing homeruns is allowed as long as the fielder has one foot in play or if the fielder is able to leap from the field and catch the ball in the air before landing.
        </li>
        <li>
          The pitcher’s mound acts as the default base. If either a fielder or a pitcher has the ball on the mound before a runner has reached a base, the runner is out. 
          If there are multiple runners off base, only the lead runner is out.
        </li>
        <li>
          All runners on a base are safe, unless there are two people on a base. If this is the case, the lead runner is out and the second runner is safe.
        </li>
        <li>
          <span class="emphasized">Throwing a bat, yelling at or arguing with an umpire, using profanity and fighting with a player from another team will not be tolerated.</span>
          It could result in ejection from or forfeit of the game at the discretion of the umpire.
        </li>
      </ul>
    </div>
  </div>
</div>

