
<div id="main" class="container container-body">
  <wiffle-ball-nav></wiffle-ball-nav>
	<div class="content">
		<div class="row">
			<div class="col-md-12">
			<h2>Rules and Regulations</h2>
			</div>
		</div>
		<div class="row">
			
			<div class="col-md-12 ">
				<h3>General Rules</h3>
				<ul>
					<li>Bats and balls will be provided by the KG Scholarship Tournament Committee.</li>
					<li>All players must play bare handed.</li>
					<li>There will be an umpire at every game in the field. Umpires are in charge of keeping track of balls and strikes, calling fair and foul balls, safe and out calls, batter interferences and homeruns.</li>
					<li>Throwing a bat, yelling at an umpire, using profanity and fighting with a player from another team will not be tolerated. It could result in ejection from or forfeit of the game.</li>
					<li>Taunting is allowed, but physical contact and profanity will not be tolerated.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Competitive League</h3>
				<ul>
					<li>Play-to-win</li>
					<li>4 players in the field at once (3 position players and a pitcher)</li>
					<li>6 innings, 2 outs/inning</li>
					<li>Pegging is allowed FOR COMPETITIVE PLAY ONLY.  (Note: pegging is when you throw the wiffle ball at a runner, and the runner that is hit is out and cannot advance.)</li>
					
				</ul>
			</div>
			<div class="col-md-6 ">
				<h3>Friendly League</h3>
				<ul>
					<li>Play-for-fun</li>
					<li>5 players in the field at once (4 position players and a catcher)</li>
					<li>5 innings, 3 outs/inning</li>
					<li>After 6 pitched balls, the pitcher must pitch underhand.</li>
					<li>No pegging!  (Note: pegging is when you throw the wiffle ball at a runner, and the runner that is hit is out and cannot advance.)</li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h3>Game Rules</h3>
				<ul>
					<li>No fast pitch.  We want the games to be competitive, so pitching speed should be slow enough for people to hit, but not so slow that teams are pitching underhand.  Curve balls, sidearm throwing and slides are allowed.</li>
					<li>Each team has unlimited fielding substitutions, but fielding changes can only be made before the inning. Once a team is out in the field, they are set until the next inning.</li>
					<li>One pitching substitution can be made per inning, but the player being subbed in must already be in the field.</li>
					<li>Once the batting order of a team is set, it cannot be changed.  If your team bats out of order, it is considered an out.</li>
					<li>Bunting is not allowed. The first time you attempt a bunt, you will get a warning.  From then on, every time your team attempts to bunt, it will be considered an out.</li>
					<li>Players will bat until they strike out or put the ball into play.</li>
					<li>Base runners must remain on base until the ball is hit. Stealing bases is not allowed.</li>
					<li>Any ball that lands beyond the outfield wall/cones that is fair on the fly is considered a homerun. Robbing homeruns is allowed as long as the fielder has one foot in play or if the fielder is able to leap from the field and catch the ball in the air before landing.</li>
					<li>The pitcher’s mound acts as the default base.  If either a fielder or a pitcher has the ball on the mound before a runner has reached a base, the runner is out. If there are multiple runners off base, only the lead runner is out.</li>
					<li>All runners on a base are safe, unless there are two people on a base. If this is the case, the lead runner is out and the second runner is safe.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 ">
				<h3>Strikes, Balls, Fouls &amp; Outs</h3>
				<ul>
					<li>For strikes and balls a chair, provided by the KG Tournament Committee, will be used as the strike zone.</li>
					<ul>
						<li>Each field will have the same size and color chair.</li>
						<li>The back rise of the chair will be the strike zone. Any pitch that hits any part of the back rise is a strike. If the pitch does not come in contact directly with the back rise of the chair, it is called a ball. The pitch cannot bounce off of any other part of the chair and then hit back rise; that will be considered a ball.</li>
					</ul>
					<li>3 strikes is an out.</li>
					<li>There will be no walks.</li>
					<li>Fouls are strikes unless a batter has two strikes.  When a batter has two strikes and the batter hits a foul tip that hits the strike zone, that batter will be out.</li>
					<li>A hit-by-pitch is considered a ball (no base is awarded). If a player intentionally leans into a pitch, it will be called a strike.</li>
				</ul>
			</div>
		</div>
		
	</div>
</div>